<footer>
    <div class="footer-info">
        <div class="footer-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy;WonderLust Private Limited</div>
        <div class="footer-info-link">
            <a>Privacy </a>
            <a>Terms</a>
        </div>
    </div>
</footer>